.transactions-count {
  box-shadow: 0 0 3px gray;
  padding: 15px;
  border-radius: 10px;
  color: rgb(51, 48, 48) !important;
}

.analytics h4 {
  font-size: 22px;
}

.analytics h5{
  font-size: 18px;
  /* color: gray !important; */
}

.category-card {
  padding: 5px 20px;
  box-shadow: 0 0 2px gray;
  margin-top: 15px;
  border-radius: 10px;
}